In [8]:
#libraries
import pandas as pd, numpy as np
import json

### Coordinate data for Boston Neighborhoods

In [17]:
url = 'http://bostonopendata-boston.opendata.arcgis.com/datasets/3525b0ee6e6b427f9aab5d0a1d0a1a28_0.csv'
neighborhoods_df = pd.read_csv(url)
neighborhoods_df.drop(columns=['ShapeSTArea','ShapeSTLength'],inplace=True)
neighborhoods_df.head()

   OBJECTID           Name        Acres  Neighborhood_ID  SqMiles
0        27     Roslindale  1605.568237               15     2.51
1        28  Jamaica Plain  2519.245394               11     3.94
2        29   Mission Hill   350.853564               13     0.55
3        30       Longwood   188.611947               28     0.29
4        31    Bay Village    26.539839               33     0.04

In [18]:
neighborhoods = neighborhoods_df['Name'].unique().tolist()
for i,neighborhood in enumerate(sorted(neighborhoods),1):
    print(f"{i}.",neighborhood)

1. Allston
2. Back Bay
3. Bay Village
4. Beacon Hill
5. Brighton
6. Charlestown
7. Chinatown
8. Dorchester
9. Downtown
10. East Boston
11. Fenway
12. Harbor Islands
13. Hyde Park
14. Jamaica Plain
15. Leather District
16. Longwood
17. Mattapan
18. Mission Hill
19. North End
20. Roslindale
21. Roxbury
22. South Boston
23. South Boston Waterfront
24. South End
25. West End
26. West Roxbury

In [11]:
neighborhoods_df[['Lat','Long']] = np.nan

In [12]:
# fetch the coordinates for Boston
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

address = 'Boston, Massachusetts'
geolocator = Nominatim(user_agent="boston_explorer")
location = geolocator.geocode(address)

print('The coordinates of {} are {}, {}'.format(address,location.latitude,location.longitude))

The coordinates of Boston, Massachusetts are 42.3602534, -71.0582912

In [19]:
neighborhoods_df.set_index('Name',inplace=True)

for neighborhood in neighborhoods_df.index:
    print(neighborhood)
    address = f'{neighborhood}, Boston, Massachusetts'
    geolocator = Nominatim(user_agent="boston_explorer")
    location = geolocator.geocode(address)
    neighborhoods_df.loc[neighborhood,'Lat'] = location.latitude
    neighborhoods_df.loc[neighborhood,'Long'] = location.longitude

neighborhoods_df.reset_index(inplace=True)

In [20]:
neighborhoods_df.head()

,Name,OBJECTID,Acres,Neighborhood_ID,SqMiles,Lat,Long
0,Roslindale,27,1605.568237,15,2.51,42.291209,-71.124497
1,Jamaica Plain,28,2519.245394,11,3.94,42.309820,-71.120330
2,Mission Hill,29,350.853564,13,0.55,42.332560,-71.103608
3,Longwood,30,188.611947,28,0.29,42.341533,-71.110155
4,Bay Village,31,26.539839,33,0.04,42.350011,-71.066948